@import './vars';

.bg_header {
    background: url('/public/img/ltino-express-header.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 250px);
    position: relative;
}



.header_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    // align-items: center;
    color: $color_terciario;
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: $destok_1200px) {
        position: relative;
        transform: translate(0%, -50%);
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;
        left: unset;
    }
}

.header_content_title {
    font-size: 35px;

    @media screen and (max-width: $tablet_650px) {
        font-size: 20px;
    }
}

.header_content_p {
    border-left: 2px solid $color_secundario;
    
    p {
        background: #0000006d;
        width: 250px;
        font-size: 17px;
        text-align: center;
    }

    span {
        color: $color_secundario;
    }
}

.header_content_subtitle {
    letter-spacing: 1px;
    line-height: 24px;
    font-size: 17px;
}

.header_btn {
    background: $background_btn_gradiente;
    width: 200px;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    color: $color_principal;
    transition: 0.5s ease;
    cursor: pointer;
    // font-weight: 600;

    &:hover {
        transform: scale(1.05);
    }
}