@import './vars';


.bg_section_img {
    background: url('/public/img/Background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    // height: 400px;

    @media screen and (max-width: $phone_500px) {
        padding: 20px;
    }
}

.why_us {
    background: #fff;
    padding: 40px;

    @media screen and (max-width: $phone_500px) {
        padding: 10px;
    }
}

.why_us_content {
    display: flex;
    gap: 20px;

    @media screen and (max-width: $destok_1300px) {
        flex-direction: column;
    }
}

.why_us_image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    img {
        width: 450px;
        height: 450px;
        object-fit: cover;
        
        @media screen and (max-width: $tablet_900px) {            
            width: 100%;
            height: 100%;
        }
    }
}