// Paleta de colores
$color_principal: #000;
$color_secundario: #FFB629;
$color_terciario: #fff;
$color_border: #c1c1c1;
$color_footer_logo: #141414;

// Style
$border_radius: 20px;
$background_btn_gradiente: linear-gradient(to right, #FFB629, #f8cc74);

// Pantallas - Escritorio
$destok_1400px: 1400px;
$destok_1300px: 1300px;
$destok_1200px: 1200px;
$destok_1120px: 1120px;
$destok_1100px: 1100px;
$destok_1000px: 1000px;

// Pantallas - Tablet
$tablet_900px: 900px;
$tablet_850px: 850px;

// Pantallas - Telefono
$phone_500px: 500px;